<article class="blog-post">
  <h2 class="blog-post-title"><%= article.title%></h2>
  <p class="blog-post-meta">
    <%= render 'article_detail', article: article %>
  </p>
  <p class="lead my-3">
    <% @article_body = truncate(article.body, length: 150, :escape => false) %>
    <%= strip_tags(@article_body) %>
  </p>
  <p><%= link_to t('articles.continue_reading'), 
  article, class: 'btn btn-link' %></p>
  <%= link_to t('app.button.edit'), 
    edit_article_path(article), 
    class: 'btn btn-secondary btn-sm' if policy(article).update?
  %>
  <%= link_to t('app.button.destroy'), 
    article_path(article),
    data: { 
      turbo_method: :delete, 
      turbo_confirm: t('app.message.confirm_destroy')
    },
    class: 'btn btn-danger btn-sm' if policy(article).destroy?
  %>
</article>
