<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <br><br>
  </div>

  <div>
    <%= form.label :body %>
    <br>
    <%= form.text_area :body %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <br>
    <%= form.submit %>
    <ul>
      <li>
        <%= link_to 'Voltar', articles_path%>
      </li>
    </ul>
  </div>
<% end %>
